{% extends '0Base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block header %}
  <h1>Post list</h1>
{% endblock %}

{% block content %}
    <ul class="post-list">
        {% for post in object_list %}
        <div class="card" style="width: 50%; margin-left: 30%;">
          <a href="{% url 'post_ref' post.pk %}" style="text-decoration: none; color: black;"> 
          <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {% if post.author.first_name == '' %}
                {{ post.author.username }}
                {% else %}
                {{ post.author.first_name }} {{ post.author.last_name }} - 
                {% endif %}
                <small>{{ post.created_at }}</small></p>
              <p class="card-text">{{ post.content|slice:':50'|safe }}...</p>
              

              {% if user.id == post.author.id %}
              <a href="{% url 'edit_posts' post.pk %}" class="btn btn-success">Editar</a>
              <a href="{% url 'delete_posts' post.pk %}" class="btn btn-danger">Deletar</a>
              {% endif %}
            </div>
          </a>
          </div>
          <br>
        {% endfor %}
    </ul>
{% endblock %}
